@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Ponomar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Ponomar&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 59px;
  font-weight: bold;
  color: rgb(238, 120, 209);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

.didILetter {
  font-size: 21px;
  font-weight: normal;
  color: rgb(75, 155, 192);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.didDTwoLetter {
  font-size: 31px;
  font-weight: 400;
  color: rgb(21, 179, 105);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

/* THE word */

.theTLetter {
  font-size: 73px;
  font-weight: 700;
  color: rgb(172, 243, 40);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.theHLetter {
  font-size: 32px;
  font-weight: normal;
  color: rgb(209, 53, 105);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

.theELetter {
  font-size: 49px;
  font-weight: normal;
  color: rgb(107, 108, 110);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* FRONT-END word */

.frontendFLetter,
.frontendOLetter,
.frontendTLetter,
.frontendNTwoLetter,
.developerDLetter,
.developerVLetter,
.developerLLetter,
.developerPLetter,
.developerRLetter {
  font-size: 62px;
  font-weight: normal;
  color: rgb(165, 106, 214);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Big Shoulders Inline", sans-serif;
}

.frontendRLetter {
  font-size: 40px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.frontendNLetter {
  font-size: 3px;
  font-weight: normal;
  color: coral;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.frontendELetter {
  font-size: 55px;
  font-weight: normal;
  color: coral;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.frontendDLetter {
  font-size: 69px;
  font-weight: normal;
  color: coral;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DEVELOPER word */

.developerELetter {
  font-size: 57px;
  font-weight: normal;
  color: rgb(50, 112, 136);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.developerETwoLetter {
  font-size: 36px;
  font-weight: normal;
  color: rgb(78, 31, 105);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.developerOLetter {
  font-size: 66px;
  font-weight: normal;
  color: rgb(241, 215, 205);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.developerEThreeLetter {
  font-size: 59px;
  font-weight: normal;
  color: rgb(218, 127, 127);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* TAKE word */

.takeTLetter,
.takeKLetter,
.upULetter,
.gardeningGLetter,
.gardeningRLetter,
.gardeningELetter,
.gardeningILetter,
.gardeningGTwoLetter,
.becauseELetter,
.becauseALetter,
.becauseSLetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.takeALetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}
.takeELetter {
  font-size: 33px;
  font-weight: normal;
  color: coral;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

/* UP word */

.upPLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Big Shoulders Inline", sans-serif;
}

/* GARDENING word */

.gardeningALetter,
.gardeningDLetter,
.gardeningNLetter,
.gardeningNTwoLetter,
.becauseBLetter,
.becauseCLetter,
.becauseULetter,
.becauseETwoLetter {
  font-size: 45px;
  font-weight: lighter;
  color: coral;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

/* THEY word */

.theyTLetter {
  font-size: 70px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.theyHLetter,
.theyYLetter,
.wantedALetter,
.wantedTLetter,
.wantedDLetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(39, 114, 49);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Ponomar", sans-serif;
}
.theyELetter {
  font-size: 99px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* WANTED word */

.wantedWLetter {
  font-size: 29px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.wantedNLetter {
  font-size: 63px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.wantedELetter {
  font-size: 67px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* TO word */

.toTLetter,
.improveILetter,
.improvePLetter,
.improveOLetter,
.improveELetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(77, 1, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Big Shoulders Stencil", sans-serif;
}
.toOLetter {
  font-size: 70px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

/* IMPROVE word */

.improveMLetter {
  font-size: 48px;
  font-weight: bolder;
  color: coral;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}
.improveRLetter {
  font-size: 35px;
  font-weight: lighter;
  color: coral;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}
.improveVLetter {
  font-size: 12px;
  font-weight: 900;
  color: coral;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

/* THEIR word */

.theirTLetter,
.theirELetter,
.theirRLetter,
.rootOLetter,
.rootTLetter,
.skillsKLetter,
.skillsLLetter,
.skillsSTwoLetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(139, 0, 173);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}
.theirHLetter,
.theirILetter,
.rootRLetter,
.rootOTwoLetter,
.skillsSLetter,
.skillsILetter,
.skillsLTwoLetter {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(165, 82, 52);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 60px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.exclamation-mark {
  font-size: 60px;
  font-weight: normal;
  color: rgb(244, 198, 253);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.question-mark {
  font-size: 60px;
  font-weight: normal;
  color: rgba(80, 229, 255, 0.425);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
